.main-about {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  align-items: center;
  color: white;
}
.container-descripcion {
  user-select: none;
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  column-span: 150px auto;
}
.container-descripcion h1 {
  color: white;
  font-weight: lighter;
  font-family: "Major Mono Display", monospace;
  letter-spacing: 5px;
  text-shadow: cyan 0 0 4px;
}
.cardMedia-img {
  max-width: 345px;
}
.container-descripcion p {
  font-size: large;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.cv-btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.cv-btn {
  color: #1f64f6;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
}
.cv-btns Button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
}
@media only screen and (max-width: 768px) {
  .container-descripcion {
    font-size: small;
    width: 350px;
  }
}
@media only screen and (max-width: 576px) {
  .main-about {
    flex-wrap: wrap;
  }
  .container-descripcion {
    margin: 1rem;
  }
}
@media only screen and (max-width: 360px) {
  .cardMedia-img {
    max-width: 300px;
  }
  .container-descripcion {
    width: 300px;
  }
  .container-descripcion h1 {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
