.main-about {
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.container-descripcion {
  user-select: none;
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  column-span: 150px auto;
}
.container-descripcion p:hover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px;
  transition: 0.75s;
}
.container-descripcion h1 {
  font-weight: bolder;
  letter-spacing: 5px;
  text-shadow: red 0 0, cyan 0 0;
  transition: text-shadow 200ms;
}
.container-descripcion h1:hover {
  text-shadow: red -6px 0, cyan 6px 0;
}
.cardMedia-img {
  max-width: 345px;
  transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 2s;
}
.card-img:hover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px;
  transition: 0.75s;
}
.container-descripcion p {
  font-size: large;
  font-weight: normal;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.cv-btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.cv-btn {
  color: white;
  text-decoration: none;
}
.cv-btns Button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
}
@media only screen and (max-width: 768px) {
  .main-about {
    height: 90vh;
  }
  .container-descripcion {
    font-size: small;
    width: 350px;
  }
}
@media only screen and (max-width: 576px) {
  .main-about {
    height: 100vh;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 360px) {
  .cardMedia-img {
    max-width: 300px;
  }
  .container-descripcion {
    width: 300px;
  }
  .container-descripcion h1 {
    padding: 0.5rem;
  }
}
