.main-home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  height: 80vh;
  width: 100%;
  color: white;
  columns: 150px auto;
  user-select: none;
}
.main-home p {
  font-weight: bold;
  margin-top: -4rem;
}
.main-home h1 {
  margin-top: -6rem;
}
.main-home h4 {
  margin-top: -6rem;
}
.name-home {
  letter-spacing: 5px;
  text-shadow: red 0 0, cyan 0 0;
  transition: text-shadow 200ms;
}
.name-home:hover {
  text-shadow: red -6px 0, cyan 6px 0;
}
