body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "IBM Plex Mono", monospace;
  background-image: url("/public/img/fondo-proyecto.png");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto !important;
  min-height: 100vh;
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url("/public/img/fondo-proyecto-movil.png");
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
