.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  padding: 1rem 5rem;
  width: 100%;
}
ul {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
}
li {
  font-weight: 700;
  list-style: none;
  margin-right: 2rem;
  text-decoration: underline white;
}
