.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
}
.nav p {
  color: white;
  font-size: 25px;
  letter-spacing: 5px;
  text-shadow: red 0 0, cyan 0 0;
  transition: text-shadow 200ms;
}
.nav Button {
  color: white;
  margin-left: 0.5rem;
}
.nav Button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
}
.nav p:hover {
  text-shadow: red -6px 0, cyan 6px 0;
}
ul {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
}
.nav-logo,
.nav-inicio,
.nav-sobreMi,
.nav-portafolio,
.nav-skills {
  text-decoration: none;
}
